@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    font-family: 'Kanit', sans-serif;
    background-image: url("../images/scene_khengroom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: hidden;
    width: auto;
}
main{
    height: auto;
}
.container{
    width: auto;
}
.content{
    color: white;
}
.text{
    text-align: center;
    margin-top: 50%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@media (width<=1500px){
    .container{
        margin: 7rem;
    }
}
@media (width<=1000px){
    .container{
        margin: 5rem;
    }
}
@media (width<=700px){
    body{
        background-position: right;
    }
    .container{
        margin: 0;
    }
}
@media (width<=400px){
    body{
        background-position: right;
    }
    .container{
        margin: 0;
    }
}